.card-margin{
    margin-left: 0px;
    margin-right: 0px;
}
.note-area{
    white-space: pre;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sale-display{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 15px;
}

.sale-display > div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
}

ion-split-pane {
    --side-min-width: min(50vw, 700px);
  }

#list-of-shifts{
    width: 100%;
}